@model IEnumerable<ClimbSociety.Models.Match>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My matches</h1>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<form asp-action="FindMatches" asp-controller="Matches" method="post">
    <input class="btn" type="submit" id="findMatches" value="Find matches" />
</form>
<br />

<table class="table" style="color: azure !important">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
